@import 'reset-css';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#app {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 3.1rem;
  line-height: 3.7rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
  margin: 0;
}
